@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-gray-100:#F3F6FF;
    --color-gray-200:#EFF2FC;
    --color-gray-300:#E2E5F1;
    --color-gray-400:#D4D7E5;
    --color-gray-500:#B4B7C9;
    --color-gray-600:#9397AD;
    --color-gray-700:#565973;
    --color-gray-800:#33354D;
    --color-gray-900:#0B0F19;
    --color-primary:#6366F1;
    --color-error: #EF4444;
    --color-succes: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-white: #FFFFFF;
    --color-text-gray: #585C7B;
    

    --color-bg: var(--color-white);
    --color-bg-gray: var(--color-gray-100);

    --color-white-to-gray: #fff;

    --transition-time: all 0.2s;
}

*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) ; /* Stänger av higlight vid tap */
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

img {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    color: var(--color-gray-900);
    font-weight: 800;
    line-height: 1.3;

}

.h1 {
    font-size: 2.5rem;
    color: var(--color-gray-900);
    font-weight: 800;
    line-height: 1.3;
}

.h4 {
    font-size: 1.357rem;
    color: var(--color-gray-900);
    font-weight: 800;
    line-height: 1.3;
}

ol, ul {
    list-style: none;
}

/* UTILITY CLASSES */

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

/* BUTTONS START */

.btn-primary {
    font-size: 0.9rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.375em ; /*Väljer 0.375 enligt bootstrap 5 standard, samt em efter Joakims rekommendation */
    border: none;
    padding: 0.6em 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-wrap: nowrap;
    gap: 0.5em;
}

.btn-primary:hover {
    background-color: hsl(239, 85%, 70%); /*Lägger in ljusvärde 70% så blir knappen lite ljusare om man hovrar över den */
    color: var(--color-white);
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--color-gray-900);
    color: var(--color-white);
    border-radius: 0.5em ; /*Väljer 0.375 enligt bootstrap 5 standard, samt em efter Joakims rekommendation */
    padding: 0.5em 1em; /*Väljer 0.5 och 1.0 enligt standard för bootstrap 5 för stora knappar, samt em efter Joakims rekommendation */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

.btn-cirkel {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-white-to-gray);
    color: var(--color-gray-500);

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--color-white-to-gray) h s calc(1-10));
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 46px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-600);
    transition: var(--transition-time);
}

.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: calc(100% - 4px);
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-white);
    transition: var(--transition-time);
}

.toggle-switch .slider.round {
    border-radius: 100vw;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(22px);
    background-color: var(--color-white);
}

/* BUTTONS END */

/* NAVBAR START */

.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    
.container {
    position: relative;
}

.container,
.main-menu {
    display: flex;
    align-items: center;
}

.btn-mobile {
    display: none;
    background-color: transparent;
    border: 0;
    padding: 0.5rem;
    padding-right: 0;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 9999;
}

.main-menu {
    width: 100%;
    justify-content: space-between;
    margin-left: 3rem;
}

.nav-link {
    color: var(--color-gray-800);
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus-visible {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

.btn-toggle-switch {
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 12rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10000;

    p {
        color: var(--color-gray-700);
        font-weight: 600;
    }
}

@media (width <= 992px) {
    .btn-mobile {
        display: block;
    }

    .container {
        position: static;
    }

    .btn-toggle-switch {
        right: 8rem;
    }

    .main-menu {
        position: absolute;
        top:100%;
        right: 0;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-block: 2rem;
        box-shadow: 0 5px 5px #B4B7C9;
        background-color: var(--color-bg);
        z-index: 1000;
    }
    .nav-link {
        display: inline-block;
        padding: 1rem;
    }

    .hide {
        display: none;
    }
    .btn-mobile[aria-expanded="true"] ~ .main-menu {
        animation: openMenu 250ms forwards
    }
    .btn-mobile[aria-expanded="false"] ~ .main-menu {
        animation: closeMenu 250ms forwards
    }


}

@media (width < 540px) {
    .btn-toggle-switch {
        right: 4rem;

        p {
            display: none;
        }
    }

}

}

/* NAVBAR END */

/* SECTION-HERO START */

#section-hero {
    padding-top: 6rem;
    background-color: var(--color-bg);
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);

    .container {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:    "h1"
                                "content";
    }

    .h1 {
        grid-area: h1;
        text-align: center;

        h1 {
            font-size: 34px;
        }

    }

    .content {
        grid-area: content;
        text-align: center;
        
        p {
            font-size: 18px;
            line-height: 28.8px;
            color: var(--color-text-gray);
            margin-bottom: 3rem;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                height: 2em;
            }
        }

        .discover-more {
            font-size: 14px;
            color: var(--color-text-gray);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

    }

    .phoneimages {
        position: relative;
        grid-area: images;
        display: none;
        width: 55%;
        margin-left: auto;

        .img-back {
            position: absolute;
            z-index: 998;
            bottom: 0;
            right: 130px;
        }

        .img-front {
            position: absolute;
            z-index: 999;
            bottom: 0;
        }

    }
} 

/* SECTION-HERO END */

/* SECTION-BRANDS START */

#section-brands {
    display: none;

    .brand-box {
        border: 1px solid var(--color-gray-300);
        border-radius: 8px;
        height: 100px;
        width: 196px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* SECTION-BRANDS END */

/* SECTION-APPFEATURES START */

#section-appfeatures {

    padding-top: 1rem;
    
        .h2 {
            grid-area: h2;
            text-align: center;
    
            h2 {
                font-size: 28px;
                font-weight: 800;
                color: var(--color-gray-900);
            }
        }
    
        .content {
            text-align: center;
            padding-bottom: 3rem;
            
            p {
                font-size: 18px;
                color: var(--color-text-gray);
            }
        }
    
        .container-info {
            padding-bottom: 1rem;
    
            .info-box {
                display: grid;
                grid-template-columns: auto 1fr;
                row-gap: 0.75rem;
                column-gap: 1.5rem;
                align-items: start;
    
                .info-icon {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                    justify-content: center;
                    align-items: center;
                    background-color:#F3F6FF ;
                    width: fit-content;
                    height: fit-content;
                    padding: 15px;
                    border-radius: 8px;
                }
    
                h3 {
                        grid-column: 2;
                        grid-row: 1;
                        font-size: 20px;
                        font-weight: 800;
                        color: var(--color-gray-900);
                        margin: 0;
                        align-self: start;
                    }
                                  
                p { 
                        grid-column: 2;
                        grid-row: 2;
                        font-size: 16px;
                        color: var(--color-text-gray);
                        padding-bottom: 2rem;
                        line-height: 1.6;
                        align-self: start;
                    }
            }
        }
    
        .images {
            
            display: none;
            position: relative;
    
                .img-phone { 
                    bottom: 0; 
                    left: 0;
                    width: auto;
                    height: auto;
                }
    
                .card {
                    position: absolute;
                    left: 20px;
                    top: 90px;
                    width: auto;
                    height: auto;
                }
        }
}

/* SECTION APP-FEATURES END */

/* SECTION HOW DOES IT WORK START */

#section-how-does-it-work {
    text-align: center;
    background-color: var(--color-bg-gray);
    padding-block: 1rem;

    .workdesktop,
    .worktablet {
        display: none;
    }

    .workimagestablet,
    .workimagesdesktop {
        display: flex;
        justify-content: space-evenly;
    }

    .h1 {
        padding-top: 1rem;
        font-weight: 800;
        font-size: 28px;
        }

    .workmobile {
        padding-bottom: 2rem;
        
        .workimagesmobile {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }

        .h4 {
            margin-bottom: 1rem;
        }

        p {
            color: var(--color-text-gray);
        }
    }
}

/* SECTION HOW DOES IT WORK END */

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-bg-gray);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

        .credit {
                display: none;
                }
}


#section-subscribe {

    .card {
        background-color: var(--color-bg-gray);
        width: 100%;
    }

    .headline-desktop {
        display: none;
    }

    .form-input {
        font-size: 1rem;
        padding: 0.6em;
        border-radius: 0.5em;
        border: 1px solid #D4D7E5;

        &:focus {
            outline: none;
            box-shadow: 0 0 5px #565973 ;
        }
    }

    input::placeholder  {
        font-size: 1rem;
        color: #B4B7C9;
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

}

/* Här börjar mina media-queries */
/*Media-queries för Tablet */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    footer .container {   
        .credit {
            display: block;
                }
    }

    #section-hero .phoneimages {
        display: block;
    }

    #section-hero .container {
        margin-top: 0;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:    "h1 h1"
                                "content images";
    }

    #section-hero .h1 {
        h1 {
            font-size: 44px;
            padding-bottom: 2rem;
            }
    }

    #section-hero .content {
            text-align: left;
            padding-top: 3rem;
                .buttons {
                    flex-direction: row;
                }
                .discover-more {
                    justify-content: left;
                }

                p {
                    font-size: 18px;
                }
        }

    #section-brands {
        display: block;
        padding-top: 2.8rem; /*I designfilen är padding 45px i tablet-läget som motsvarar 2.8 rem med 16px fontsize */
        padding-bottom: 1rem;
    }
    
    #section-brands .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    
        #brand-5 {
            display: none;
        }
    
        #brand-6 {
            display: none;
        }
    }

    #section-appfeatures .h2 {
        h2 {
            font-size: 34px ;
            }
        }

    #section-appfeatures .container-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: auto;
            column-gap: 2rem;
            margin-bottom: 5rem;
    }

    #section-appfeatures .info-box {
        row-gap: 2rem;
        column-gap: 3rem;
    }

    #section-how-does-it-work .workmobile{
        display: none;
    }

    #section-how-does-it-work {
        .h1 {
            padding-top: 1rem;
            font-weight: 800;
            font-size: 34px;
            }

        .worktablet {
            display: block;
            padding-bottom: 2rem;

            .workimagestablet {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }

        .content {
            max-width: 50ch;
            margin-inline: auto;

            .h4 {
                font-size: 23px;
                margin-bottom: 1rem;
            }
    
            p {
                color: var(--color-text-gray);
            }
        }
    }


    #section-subscribe .card {
        display: flex;
        flex-direction: row;
    }    
}

/*Media-queries för Desktop */

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    #section-hero .container { 
        margin-top: 8rem;
            grid-template-columns: 2fr 3fr;
            grid-template-areas:    "h1 images"
                                    "content images";                        
    }

    #section-hero .content {
        padding-top: 0;
            .discover-more {
                margin-top: 10rem;
            }
    }

    #section-hero .h1 {
        h1 {
        font-size: 56px;
        text-align: left;
        padding-top: 2rem;
        margin-bottom: 0;
        }
    }

    #section-hero .phoneimages {
     width: 50%;

     .img-back {
        position: absolute;
        z-index: 998;
        bottom: -45px;
        right: 230px;
    }

    .img-front {
        position: absolute;
        z-index: 999;
        bottom: -45px;
    }
     
    }

    #section-brands {
        padding-bottom: 5.6rem;
    }

    #section-brands .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #brand-5 {
            display: flex;
        }

        #brand-6 {
            display: flex;
        }
    }


    #section-appfeatures .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin-bottom: 6rem;
    }

    #section-appfeatures .container-info {
        grid-column: 2/3;
        grid-row: 3/4;
        column-gap: 3rem;
        row-gap: 1rem;

        .info-box {
        
            h3 {
                align-self: center;
            }
        }
    }

    #section-appfeatures .h2 {
        grid-column: 2/3;
        grid-row: 1/2;

        h2 {
                font-size: 40px;
                text-align: left;
                margin-bottom: 0;
            }
        }

    #section-appfeatures .content {
        grid-column: 2/3;
        grid-row: 2/3;
        padding-bottom: 4rem;

        p {
            color: var(--color-gray-600);
            text-align: left;
            padding-top: 1rem;       
        }
    }

    #section-appfeatures .images {
        display: block;
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    #section-how-does-it-work .worktablet {
        display: none;
    }

    #section-how-does-it-work {
        .h1 {
            padding-top: 1.5rem;
            font-weight: 800;
            font-size: 2.5rem;
            }

        .workdesktop {
            display: block;
            padding-bottom: 3rem;

            .workimagesdesktop {
                padding-top: 1rem;
                padding-bottom: 1rem;

            }
        }

        .content {

            .h4 {
                font-size: 24px;
                margin-bottom: 1rem;
            }
    
            p {
                color: var(--color-text-gray);
            }
        }
    }

}

/* Animations */

@keyframes openMenu {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes closeMenu {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
