//VARIABLES TRANSITION START
$transition-time: all 0.2s;
//VARIABLES TRANSITION END 

@keyframes openMenu {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes closeMenu {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
