$primary: #6366F1;
$error: #EF4444;
$success: #22C55E;
$warning: #FFBA08;
$info: #4C82F7;

$white: #FFFFFF;
$black: #000000;

$gray-100: #F3F6FF;
$gray-200: #EFF2FC;
$gray-300: #E2E5F1;
$gray-400: #D4D7E5;
$gray-500: #B4B7C9;
$gray-600: #9397AD;
$gray-700: #565973;
$gray-800: #33354D;
$gray-900: #0B0F19;
$btn-secondary: #0B0F19;

$colors: (
"primary": $primary,
"error": $error,
"success": $success, 
"color-warning": $warning,
"info": $info,

"white": $white,
"black": $black,

"gray-100": $gray-100,
"gray-200": $gray-200,
"gray-300": $gray-300,
"gray-400": $gray-400,
"gray-500": $gray-500,
"gray-600": $gray-600,
"gray-700": $gray-700,
"gray-800": $gray-800,
"gray-900": $gray-900,
"btn-secondary": $btn-secondary,
);


$font-family: "Manrope", sans-serif;

$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.75;
$font-size-s: $base-font-size * 0.875;
$font-size-m: $base-font-size * 1.125;
$font-size-l: $base-font-size * 1.25;
$font-size-xl: $base-font-size * 1.5;

$base-border-radius: 0.5em;